@{
    Layout = "~/Shared/_Layout.cshtml";
}

@section sidebar{
    <ul>
        <li>Page 1</li>
        <li>Page 2</li>
        <li>Page 3</li>
    </ul>
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>This is WebPage1</h2>
        <table>
            <thead> Name </thead>
            <thead> Gender </thead>
            <thead> Age </thead>
        </table>
    </body>
</html>
