@{
    Layout = "~/Shared/_Layout.cshtml";
}@*would normally use render page for this sidebar but hw required rendersection*@
@section sidebar{
    <ul>
        <li><A href="WebPage1.cshtml">Page 1</A></li>
        <li><A href="WebPage2.cshtml">Page 2</A></li>
        <li><A href="WebPage3.cshtml">Page 3</A></li>
        <li><A href="WebPage4.cshtml">Page 4</A></li>
    </ul>
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>This is WebPage 4, Welcome!</h2>
    </body>
</html>
