@*not needed because view start already calls _Layout as the default*@
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{ 
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Hello from the view template</p>
